<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="1_loopTriangle.js"></script>
    <script src="2_fizzBuzz.js"></script>
    <script src="3_chessBoard.js"></script>
  </head>
  <body>
    <button type="button">hello</button>
    <button type="button" onclick="loopTriangle()">loop triangle</button>
    <button type="button" onclick="fizzBuzz()">FizzBuzz</button>
  </body>
</html>
